@model IEnumerable<M_ventas_y_cc.Models.VENTAS_DETALLES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_unitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_unitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VENTAS_DETALLESId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VENTAS_DETALLESId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VENTAS_DETALLESId })
        </td>
    </tr>
}

</table>
