@model IEnumerable<M_ventas_y_cc.Models.DETALLES_DE_PAGO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vuelto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vuelto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DETALLES_DE_PAGOId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DETALLES_DE_PAGOId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DETALLES_DE_PAGOId })
        </td>
    </tr>
}

</table>
