@model M_ventas_y_cc.Models.CUENTAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUENTAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.denominacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denominacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUENTASId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
