@model IEnumerable<M_ventas_y_cc.Models.NOTAS_DE_CREDITO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_emision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_emision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iva)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NOTAS_DE_CREDITOId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NOTAS_DE_CREDITOId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NOTAS_DE_CREDITOId })
        </td>
    </tr>
}

</table>
