@model IEnumerable<M_ventas_y_cc.Models.VENTA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iva)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VENTAId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VENTAId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VENTAId })
        </td>
    </tr>
}

</table>
