@model M_ventas_y_cc.Models.ASIENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ASIENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalDEBE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalDEBE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalHABER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalHABER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ASIENTOId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
